{% extends 'base.html.twig' %}
{% block title %}Conditions Génrérales d'Utilisations
{% endblock %}
{% block body %}
	<main>
		<article>
			<h1 class="title">CONDITIONS GÉNÉRALES D'UTILISATIONS</h1>

			<p>Les présentes conditions générales d'utilisation régissent votre utilisation du site Quai Antique et les services connexes. En accédant à ce site et en l'utilisant, vous acceptez ces conditions dans leur intégralité. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>

			<h2>Utilisation du site</h2>
			<p>Vous vous engagez à utiliser ce site conformément aux lois applicables et aux présentes conditions générales d'utilisation. Vous acceptez de ne pas utiliser ce site à des fins illégales, frauduleuses ou nuisibles, ni d'effectuer des activités susceptibles de perturber le bon fonctionnement du site ou d'interférer avec les autres utilisateurs.</p>

			<h2>Contenu du site</h2>
			<p>Le contenu de ce site est fourni à titre informatif uniquement. Nous nous réservons le droit de modifier, supprimer ou mettre à jour le contenu sans préavis.</p>

			<h2>Propriété intellectuelle</h2>
			<p>Tous les contenus présents sur ce site, y compris les textes, les images, les graphiques, les logos et les vidéos, sont la propriété intellectuelle de Quai Antique ou de ses concédants de licence. Vous n'êtes pas autorisé à reproduire, distribuer ou modifier ces contenus sans notre autorisation écrite préalable.</p>

			<h2>Liens vers des sites tiers</h2>
			<p>Ce site peut contenir des liens vers des sites web de tiers. Nous ne sommes pas responsables du contenu ou des pratiques de confidentialité de ces sites. L'accès à ces sites se fait à vos propres risques.</p>

			<h2>Limitation de responsabilité</h2>
			<p>Nous ne garantissons pas l'exactitude, l'exhaustivité ou la fiabilité du contenu de ce site. Nous déclinons toute responsabilité en cas de dommages directs, indirects, accessoires, consécutifs ou spéciaux découlant de l'utilisation ou de l'impossibilité d'utiliser ce site.</p>

			<h2>Modification des conditions générales</h2>
			<p>Nous nous réservons le droit de modifier ces conditions générales d'utilisation à tout moment. Toute modification sera indiquée sur cette page. Il est de votre responsabilité de consulter régulièrement ces conditions. En continuant à utiliser ce site après la publication des modifications, vous acceptez les nouvelles conditions.</p>

			<h2>Nous contacter</h2>
			<p>Si vous avez des questions concernant ces conditions générales d'utilisation, veuillez nous contacter :</p>
			<ul>
				<li>E-mail : no-reply@quaiantiqueparis.fr</li>
			</ul>
		</article>
	</main>
{% endblock %}
