{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialité
{% endblock %}
{% block body %}
	<h1 class="title">POLITIQUE DE CONFIDENTIALITÉ</h1>

	<p>Nous accordons une grande importance à la confidentialité des utilisateurs de notre site. Cette politique de confidentialité décrit comment nous collectons, utilisons, partageons et protégeons les informations personnelles que vous nous fournissez.</p>

	<h2>Collecte des informations</h2>
	<p>Lorsque vous utilisez notre site, nous collectons les informations suivantes :</p>
	<ul>
		<li>Nom</li>
		<li>Numéro</li>
		<li>Adresse e-mail</li>
		<li>Mot de passe</li>
	</ul>

	<h2>Utilisation des informations</h2>
	<p>Nous utilisons les informations que vous nous fournissez pour personnaliser votre expérience sur notre site et pour vous fournir les services que vous avez demandés. Nous ne partageons pas ces informations avec des tiers sans votre consentement explicite.</p>

	<h2>Cookies</h2>
	<p>Nous utilisons des cookies sur notre site pour assurer sa sécurité. Les cookies sont de petits fichiers texte stockés sur votre ordinateur. Vous avez la possibilité de désactiver les cookies dans les paramètres de votre navigateur.</p>

	<h2>Sécurité des données</h2>
	<p>Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute perte ou toute divulgation.</p>

	<h2>Vos droits</h2>
	<p>Vous avez le droit d'accéder à vos données personnelles, de les rectifier ou de les supprimer. Pour exercer ces droits, veuillez nous contacter via les coordonnées fournies ci-dessous.</p>

	<h2>Modification de la politique de confidentialité</h2>
	<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera indiquée sur cette page. Nous vous recommandons de consulter régulièrement cette politique.</p>

	<h2>Nous contacter</h2>
	<p>Si vous avez des questions concernant notre politique de confidentialité, veuillez nous contacter :</p>
	<ul>
		<li>E-mail : no-reply@quaiantiqueparis.fr</li>
	</ul>
{% endblock %}
