{% extends "@EasyAdmin/page/content.html.Twig"%}

{% block content %}
	<h1>Bienvenue au sein de l'administration du Quai Antique</h1>
	<p>Si vous souhaitez revenir sur le site, veuillez cliquer sur ce
	</p>
	<a href="{{path('app_accueil')}}">lien</a>
{% endblock %}
