{% extends "@EasyAdmin/page/content.html.twig"%}

{% block content %}
	<h1>Bienvenue au sein de l'administration du Quai Antique</h1>
	<p></p>
	<a href="{{path('app_home')}}">Revenir sur le site</a>

{% endblock %}
