{% extends "@EasyAdmin/page/content.html.Twig"%}

{% block content %}
	<h1>Bienvenue au sein de l'administration du Quai Antique</h1>
	<a style="display:block" href="{{path('app_accueil')}}">Revenir sur le site</a>
{% endblock %}
