{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	{% for flash in app.flashes('success') %}
		<div class="alert alert-success">{{ flash }}</div>
	{% endfor %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<h1 class="title">CONNEXION</h1>
		{{render (controller('App\\Controller\\SecurityController::logiconly'))}}

	{% else %}
		<h1 class="title">CONNEXION</h1>
		{{render (controller('App\\Controller\\SecurityController::logiconly'))}}

	{% endif %}

{% endblock %}
