{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Modification du mot de passe de l'utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">MODIFICATION DE VOTRE MOT DE PASSE</h1>


		{{ form(form) }}
		</div>
	{% endblock %}
