{% extends "base.html.twig" %}
{% block body %}
	<h1 class="title">PAGE INTROUVABLE</h1>
	<div>
		<p>
			La page sur laquelle tu souhaites aller, ne semble pas exister
		</p>
		<p>En revanche, tu peux aller consulter la page de la carte de notre restaurant en appuyant sur ce
			<a href="{{path('app_card')}}">lien</a>
		</p>
	</div>
{% endblock %}
