{% extends "base.html.twig" %}
{% block body %}
	<h1 class="title">PAGE INTROUVABLE</h1>
	<div>
		<p class="desc-error">
			Il semble que vous ayez une faute dans votre formulaire.
		</p>
		<p class="link-error">
			En effet, pour que la réservation soit valide, tout les champs doivent être remplis, vous pouvez vérifier ceci en cliquant sur ce
			<a href="{{path('app_reservation_new')}}">lien</a>
		</p>
	</div>
{% endblock %}
