{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<h1>Connexion et Inscription</h1>

	{{render (controller('App\\Controller\\SecurityController::loginonly'))}}

	<h2>Inscription</h2>
	{{ form_start(registration_form) }}
	{{ form_widget(registration_form) }}
	<button type="submit">Inscription</button>
	{{ form_end(registration_form) }}
{% endblock %}
