{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1>RESERVATION</h1>

	<div>
		<div>
			{{render (controller('App\\Controller\\SecurityController::loginonly'))}}
		</div>


		<div class="inscription">
			<h2>Inscription</h2>
			{{ form_start(registration_form) }}
			{{ form_widget(registration_form) }}
			<button type="submit">Inscription</button>
			{{ form_end(registration_form) }}</div>
	</div>

{% endblock %}
