{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1 class="title-reservation">RESERVATION</h1>

	<div class="connection-inscription">
		<div class="inscription">
			<h4>S'Inscrire pour Réserver</h4>
		</div>
		<div class="connection">
			<h4>Se Connecter pour Réserver</h4>
		</div>
	</div>

{% endblock %}
