{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1 class="title-reservation">RESERVATION</h1>

	<div class="connection-inscription">
		<div class="inscription">
			<h4 class="name-pre-inscription">INSCRIPTION</h4>
			<p class="title-insc">Pourquoi s'inscrire ?</p>
			<div class="desc-insc">
				<p class="arg-insc">Gagnez du temps</p>
				lors de vos réservations en créant un compte sur notre restaurant. Vos
				<p class="arg-insc">données seront pré-remplies</p>
				et vous pourrez ainsi
				<p class="arg-insc">profiter</p>
				pleinement de
				<p class="arg-insc">votre expérience culinaire</p>. Devenez un client chouchouté et laissez-nous prendre soin de vous.
			</div>
		</div>
	</div>
	<div class="connection">
		<h4 class="name-pre-connection">CONNEXION</h4>
	</div>
</div>{% endblock %}
