{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1 class="title-reservation">RESERVATION</h1>

	<div class="connection-inscription">
		<div class="inscription">
			<h4 class="name-pre-inscription">INSCRIPTION</h4>
			<p class="title-insc">Pourquoi s'inscrire ?</p>
			<div>
				<p class="title-insc"></p>
				Gagnez du temps lors de vos réservations en créant un compte sur notre restaurant. Vos données seront pré-remplies et vous pourrez ainsi profiter pleinement de votre expérience culinaire. Devenez un client chouchouté et laissez-nous prendre soin de vous.</div>
		</div>
		<div class="connection">
			<h4 class="name-pre-connection">CONNEXION</h4>
		</div>
	</div>

{% endblock %}
