@import './custom.scss';
@import './variables.scss';
@import './navbar.scss';
@import './footer.scss';
@import './home.scss';
@import './card.scss';
@import './menu.scss';
@import './form.scss';
@import './pre_reservation.scss';
@import './cookie.scss';

body{
    background-color: $creme;
    color: $grey;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

//polices
h1, h2, h3{
    font-family: $title;
    font-weight: bold;
}

h4, h5, h6{
    font-family: $sub-title;
}

div {
    font-family: $text;
}

//boutons
.btn{
    border-radius: 0px;
  }

.btn:hover{
    background-color: $creme;
    color:$cherry;
    border-radius: 3px;
  }

//message

.flash{
    text-align: center;
}

//error

.desc-error{
    text-align: center;
    font-size: 18px;
    margin: 10px;
    margin-top: 25px;
}

.link-error{
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 14px;
}


