.title-reservation {
    color: $cherry;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
}

.connection-inscription{
    display: flex;
}

.inscription{
    width: 50%;
}

.connection{
    width: 50%;
}
@media (min-width: 1235px) {
    .connection-inscription {
      column-count: 2;
    }
  }
  
  @media (max-width: 1234px) {
    .connection-inscription {
      column-count: 1;
    }
  }