$primary: #5c160d;
$secondary: rgb(8, 8, 8);
$navbar-light-active-color: rgb(92, 22, 13);

.dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
}

// Import Bootstrap styles
@import '~bootstrap/scss/bootstrap';