.food-menu{
    padding: 30px; 
    margin-bottom: 20px;
}

.details-menu{
    break-inside: avoid;    
    margin-left: 10px;
    margin-right: 10px;
}

.title-menu {
    color: $cherry;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
}

.info-menu{
    margin-bottom: 50px;
}

.desc-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 27px;
    margin-right: 27px;
}

.name-menu{
    margin-bottom: 2px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 45px;
}

.price-menu{
    margin-bottom: 2px;
    font-size: 13px;
}

.name-category {
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.desc-menu {
    color:$cherry;
    font-size: 12px;
    margin-bottom: 5px;
}

.formula{
  margin: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.details-formula{
  margin: 20px;
}

.type-card{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}

.title-formula{
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.desc-formula{
  text-align: center;
  color: $cherry;
  margin-top: 1px;
  margin-bottom: 15px;
  font-size: 12px;
}

@media (min-width: 1235px) {
    .food-menu {
      column-count: 2;
    }
  }
  
  @media (max-width: 1234px) {
    .food-menu {
      column-count: 1;
    }

    .formula{
      margin-bottom: 70px;
    }

    .formula:last-child{
      margin-bottom: 30px;
    }
  }
  