.title-reservation {
    color: $cherry;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
}

.name-pre-inscription{
  margin-bottom: 2px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.sub-name-pre-inscription{
  margin: 5px;
  font-weight: bold;
  text-align: center;
  color: $cherry;
}

.name-pre-connection{
  margin-bottom: 2px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 45px;
}

.connection-inscription{
    display: flex;
    padding: 30px; 
    margin-bottom: 20px;
}

.desc-insc{
  margin: 20px;
  text-align: center;
  display: block;
}

.arg-insc{
  color: $cherry;
  display: inline-block;
  font-weight: bold;
}

.inscription{
    width: 50%;
    margin: 7px;
}

.connection{
    width: 50%;
    margin: 7px;
}

.btn-res{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.btn-res a {
  text-decoration: none;
  color: $creme;
  padding: 5%;    
  transition: color 0.3s ease-in-out;
}

.btn-res a:hover {
  text-decoration: none;
  color: $cherry;
}


.whitout-res{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1235px) {
    .connection-inscription {
      column-count: 2;
    }
  }
  
  @media (max-width: 1234px) {
    .connection-inscription {
      column-count: 1;
    }
  }