.insc-title {
    color: $cherry;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
}

.form

.form-bloc{
    display: flex;
}

.form-bloc .form-group {
    flex: 1;
}

.form-bloc .form-group:first-child {
    margin-right: 10px;
}

.form{
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input[type="email"]{
    padding: 5px;
    width: 710px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

form input[type="password"],form input[type="text"]{
    padding: 5px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="number"]
 {
    padding: 5px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    border-radius: 0px;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.btn{
    border-radius: 0px;
  }

.btn:hover{
    background-color: $creme;
    color:$cherry;
    border-radius: 3px;
  }