$creme : rgb(250, 250, 250);

$grey : rgb(8, 8, 8);

$navbar : rgba(8, 8, 8, 0.7);

$cherry : rgb(92, 22, 13);

$title : 'Bitter', serif;

$sub-title: 'Buenard', serif;

$text: 'Mukta Vaani', sans-serif;

.dropdown-menu[data-bs-popper] {
    left: -70px;
}

p{
    text-align: center;
}

