{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1 class="title">INSCRIPTION</h1>

	{{render (controller('App\\Controller\\RegistrationController::registeronly'))}}

{% endblock %}
