footer{
    background-color: $grey;
    color: $creme;
}
footer .container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $cherry; 
  }
  
.column {
    text-align: center;
    flex: 1;
  }

.column div {
    margin : 7%;
  }

footer .container h3 {
    margin: 5%;
  }

footer h3 {
    border-bottom: 2px solid $cherry; 
    padding-bottom: 5%;
  }


footer a {
    text-decoration: none;
    color: $creme;
    padding: 5%;    
    transition: color 0.3s ease-in-out;
  }

footer a:hover {
    color: $cherry;
  }

.book {
    margin: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.day-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.day{
    font-weight: bold;   
}

.copyright {
    font-size: 14px;
    padding: 3%;
    text-align : center;
  }

  .address{
    text-align: center;
  }

  @media only screen and (max-width: 767px) {
    footer .container .column:first-child {
      display: none;
    }

    footer .container .column {
    display: block;
  }

  footer .container {
    display: block;
    justify-content: center;
    border-bottom: 2px solid $cherry; 
  }

    .column h3{
      font-size:22px;
      padding: 5%;
    }
    
    .book{
      margin: 3%;
      font-size: 12px;
    }

    .column div {
      margin : 4%;
      font-size: 12px;
    }

    .copyright {
      font-size: 10px;
      padding: 2%;
      text-align : center;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1199px)  {
    footer .container .column:first-child {
      display: none;
    }

    .column h3{
      font-size:23px;
    }
    
    .book{
      margin: 4%;
      font-size: 15px;
    }

    .column div {
      margin : 6%;
      font-size: 15px;
    }

    .copyright {
      font-size: 17px;
    }
  }