.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar;
    padding: 5px;
    z-index: 1;
  }

  .navbar.opaque {
    background-color: $grey;
}

  .navbar-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-collapse{
    flex-grow:0;
  }

  .navbar-brand {
    margin-left:  2px;
  }
  
  .navbar-brand img {
    height: auto;
    width: 35%;
    float: left;
  }

  .navbar-toggler{
  border: 0px;
  margin-top: 10px;
 }

 .navbar-toggler:hover{
  border: 0px;
  color:$grey;
  background-color: $grey;
 }
 

 .bi-three-dots-vertical{
  color:$creme;
 }

  .nav-item {
    display: inline-block;
    padding: 10px;
  }  

  .active{
    color:$cherry;
  }

  .nav-link {
    font-family: $sub-title;
    font-size: 1.75vh;
    text-decoration: none;
    color: $creme;
    padding: 3px;
    padding-left: 2px;
    padding-right: 2px;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:hover{
    color:$cherry;
  }

  .dropdown-menu {
    position: relative;
    top: 100%;
    left: -70px;
  }

  svg.bi.bi-three-dots-vertical {
    width: 14px;
    height: 14px;
    fill: currentcolor;
    }
  
    svg{
      vertical-align: auto;
    }

  /*media queries*/
@media screen and (max-width:767px) {   
  body {
    transition: padding-top 0.3s ease-in-out;
}

body.navbar-expanded {
    padding-top: 200px;
}

.nav-link {
  font-size: 2vh;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand img {
    width: 30%;
  }
 }
