<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Buenard&family=Mukta+Vaani&display=swap" rel="" stylesheet>
		<title>
			{% block title %}Accueil
			{% endblock %}- Quai Antique
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.png') }}"/>
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_script_tags('app') }}
		<meta name="description" content="Bienvenue au Quai Antique, notre restaurant gastronomique situé dans le 16ème arrondissement de Paris. Découvrez notre cuisine créative et raffinée, élaborée à partir de produits frais et de saison. Savourez un moment d'exception dans un cadre élégant et chaleureux, le tout accompagné d'une sélection de champagnes d'exception. Réservez dès maintenant pour vivre une expérience culinaire inoubliable.">
	</head>
	<body>
		{% include "include/_navbar.html.twig" %}
		{% block body %}{% endblock %}
		{{render (controller('App\\Controller\\ScheduleController::schedule'))}}
		<aside>
			<div id="cookie-banner">
				<div class="des-cookie">
					Ce site utilise des cookies pour vous garantir une meilleure expérience utilisateur :
					<div class="btn-cookie">
						<button id="refuse-cookies">Refuser</button>
						<button id="accept-cookies">Accepter</button>
					</div>
				</div>
			</div>
		</aside>
	</body>
</html>
