{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<h1 class="title">MOT DE PASSE OUBLIÉ</h1>
	<p>
		If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
						        This link will expire in
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>Si vous ne recevez pas notre e-mail, veuillez regarder dans vos spams ou bien appuyer sur ce lien. Si le problème persite, veuillez nous contacter.
		<a href="{{ path('app_forgot_password_request') }}">Renvoyer l'e-mail</a>.</p>
{% endblock %}
