<div class="identified">
	<h1 class="title">MOT DE PASSE OUBLIÉ</h1>

	<p>Pour supprimer, votre ancien mot de passe, veuillez appuyer sur ce lien</p>

	<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

	<p>Ce lien expira dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

	<p>A bientôt chez au Quai Antique</p>
</div>
