{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<h1 class="title">MOT DE PASSE OUBLIÉ</h1>

	<div class="form">
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse e-mail, nous allons vous envoyer un lien pour résilier votre mot de passe.
			</small>
		</div>

		<button>ENVOYER E-MAIL</button>
		{{ form_end(requestForm) }}</div>

{% endblock %}
