{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<h1 class="title">MOT DE PASSE OUBLIÉ</h1>

	{{ form_start(resetForm) }}
	{{ form_row(resetForm.plainPassword) }}
	<button>SUPPRIMER VOTRE MOT DE PASSE</button>
	{{ form_end(resetForm) }}
{% endblock %}
