{% extends 'base.html.twig' %}

{% block title %}Création
{% endblock %}

{% block body %}
	<main>
		<article>
			<h1 class="title">CRÉATION RÉUSSIE</h1>
			<div>
				<p class="desc-error">
					Bienvenue chez le Quai Antique
				</p>
				<p class="link-error">
					Vous pouvez désormais aller vous balader sur notre site, en cliquant sur ce
					<a href="{{path('app_card')}}">lien</a>
					par exemple.
				</p>
			</div>
		</article>
	</main>
{% endblock %}
